* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./sdfsd-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

li {
  list-style: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#input,
#quantity {
  padding: 0.85rem 2rem;
  font-size: 1.1rem;
  border-radius: 15px;
  border-color: brown;
  background-color: rgba(241, 235, 227, 0.774);
}

.btn-submit {
  padding: 0.85rem 2rem;
  font-size: 1.1rem;
  border-radius: 15px;
  border-color: brown;
  background-color: brown;
  font-weight: 800;
  color: azure;

  cursor: pointer;
}

.list {
  padding: 1.5rem 4rem;
  font-size: 2rem;
  font-weight: 700;
  border: 5px solid #272928;
  border-color: rgb(190, 128, 84);
  background-color: rgba(240, 248, 255, 0.39);
  color: rgb(32, 2, 116);
}

.list button {
  padding: 0.6rem;
  background-color: brown;
  border-radius: 15px;
  border-color: brown;
  margin-left: 1rem;

  cursor: pointer;
}
